name: Tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  unit-tests-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint (pylint)
        run: |
          pylint src tests

      - name: Run unit tests
        run: python -m unittest discover -s tests -p "test_*.py"
